$colors: (
	highlight-color: #ff1b68,
	light-green: #2ddf5c,
	darker-green: #19b84c,
	dark-green: #0e4f1f,
	light-red: #ff5454,
	white-color: white,
	disabled-color: #a1a1a1,
	gray-color: #ccc,
);
$page-width-default: 100%;
$page-height-default: 100%;
$size-tiny: 0.5rem;
$size-default: 1rem;
$size-big: 3rem;
